<nav class="navbar navbar-light bg-light shadow-lg rounded p-3">
  <div class="container">
    <a class="navbar-brand d-flex align-items-center m-0" href="#">
      <span class="h3 m-0 ms-2 fw-bold">Todo App</span>
    </a>

    <button
      type="button"
      class="btn btn-primary d-flex align-items-center py-2 px-3 fw-bold shadow"
      data-bs-toggle="modal"
      data-bs-target="#exampleModal"
    >
      <span class="material-icons"> add</span>

      ADD TODO
    </button>
  </div>
</nav>
