<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content p-4 shadow">
      <div class="modal-header">
        <h5 class="modal-title fw-bolder text-uppercase" id="exampleModalLabel">
          Add todo
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>

      <div class="modal-body text-center">
        <form class="inline-form py-3 js-modal-form">
          <!-- Input for title -->
          <div class="m-0 mb-3">
            <label class="form-label d-block">
              <span class="d-block mb-2 text-start fw-bolder">Title</span>
              <div class="input-group mb-3 shadow-sm">
                <span class="input-group-text" id="basic-addon3">
                  <span class="material-icons"> title </span>
                </span>
                <input
                  type="text"
                  name="title"
                  class="form-control"
                  placeholder="Title of todo"
                  aria-label="title"
                  aria-describedby="basic-addon1"
                  required
                />
              </div>
            </label>
          </div>

          <div class="m-0 mb-3">
            <label class="form-label d-block">
              <span class="d-block mb-2 text-start fw-bolder">
                Description
              </span>
              <div class="input-group mb-3 shadow-sm">
                <span class="input-group-text" id="basic-addon1">
                  <span class="material-icons"> text_snippet </span>
                </span>
                <textarea
                  name="description"
                  class="form-control"
                  placeholder="Leave a description here"
                  aria-label="description"
                  aria-describedby="basic-addon1"
                  required
                ></textarea>
              </div>
            </label>
          </div>

          <div class="mt-5 mx-auto">
            <button
              type="submit"
              class="btn btn-primary d-inline-flex align-items-center gap-2 px-3 py-2 shadow-sm"
            >
              <span class="material-icons"> send </span>
              ADD TODO
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
